@(barType: constants.TechnologySidebarType)

@import constants._

@active(technologySideBarType: constants.TechnologySidebarType) = {@if(barType==technologySideBarType){class="active"}}

<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li @active(TechnologySidebarType.OVERVIEW)><a href="@routes.DashboardController.index()">Overview <span class="sr-only">(current)</span></a></li>
    <li @active(TechnologySidebarType.CARD)><a href="@routes.DashboardController.card()">Card</a></li>
    <li @active(TechnologySidebarType.ANALYTICS)><a href="@routes.DashboardController.analytics()">Analytics</a></li>
    <li @active(TechnologySidebarType.CSV)><a href="@routes.DashboardController.csv()">CSV</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li @active(constants.TechnologySidebarType.TECHNOLOGY)><a href="@routes.DashboardController.technology()">Technology</a></li>
    @* TODO 今後追加する機能
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    *@
  </ul>
</div>