@()
<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="@routes.DashboardController.index()">Overview <span class="sr-only">(current)</span></a></li>
    <li><a href="@routes.DashboardController.card()">Card</a></li>
    <li><a href="@routes.DashboardController.analytics()">Analytics</a></li>
    <li><a href="@routes.DashboardController.csv()">CSV</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="@routes.DashboardController.technology()">Technology</a></li>
    @* TODO 今後追加する機能
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    *@
  </ul>
</div>